@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


$font-stack: 'Roboto',
sans-serif;
$primary-color: #333;

html,
body {
    position: relative;
    min-height: 100%;
}

img {
    width: 100%;
}

.container-personal {
    width: 100%;
    margin-top: 30px;
    min-height: 100vh;
}

.container_pages {
    margin-bottom: 20px;
    height: 100vh;
}

#page-content-wrapper {
    width: 100%;
}

.img-shop {
    height: 200px;
}

footer {
    bottom: 0;
    color: #707070;
    height: 2em;
    left: 0;
    position: relative;
    font-size: small;
    width: 100%;
}

button:focus {
    outline: none;
}

.pagination-container {
    float: right;
}

.main {
    margin-top: 55px;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.img-circle {
    width: 50px;
    height: 50px;
}

.card {
    box-shadow: 0 0 8px 1px #888888;
    margin: 0px 10px 0px 10px;
}

.card:hover {
    box-shadow: 0 0 15px 8px #888888;
}

/*--------------------------------------------Colors*/

.bg-color-name-title {
    background-color: #676767;
}

.bg-color-three-reasons {
    background-color: #ffffff;
}

.bg-color-personal-info {
    background-color: #f4f4f4;
}

.bg-color-skills {
    background-color: #ffffff;
}

.bg-color-work-history {
    background-color: #9b59b6;
}

.bg-color-contact {
    background-color: #ffffff;
}

.bg-color-conferences {
    background-color: #f4f4f4;
}

.bg-color-groups {
    background-color: #ffffff;
}

.ui-menu-color-home {
    background-color: #e67e22;
}

.ui-menu-color-resume {
    background-color: #9b59b6;
}

.ui-menu-color-contact {
    background-color: #3498db;
}

.ui-menu-color-download {
    background-color: #d9a81d;
}


.ui-menu-color-github {
    background-color: #1c4a6c;
}

.ui-menu-color-interests {
    background-color: #e74c3c;
}



/************************** Text Formatting******/

.blog-post-title {
    font-weight: bold !important;
}