/* Index CSS */

.rowIndex {
    height: 100vh;
}

.indexHr {
    border: 1px outset;
    background-color: #FF0000;
    color: #FF0000;
    height: 5px;
    width: 75%;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}