/* Index CSS */

.indexHr {
    background-image: url(/media/img/hr_divider.png);
    color: #FF0000;
    height: 25px;
    width: 75%;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;

}


.full-width-header {
    height: 75vh;
    text-align: center;
    position: block;
    overflow: hidden
}

.jumbotron-container {
    margin: auto;
    position: relative;
    height: 75vh;
    width: 100%;
}

.page-jumbotron {
    width: 100%;
    height: 75vh;
    padding: 8%;
    text-align: center;
    margin: auto;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    position: inherit;
}

.logo-carousel {
    width: 100%;
    object-fit: cover;
    height: 75vh;
}

.piumeDelVentoHomePage,
.associazioneHomePage {
    border: 1px solid;
    box-shadow: 1px 0px 3px 4px #888888;
    padding: 10px;
}

.piumeDelVentoHomePage:hover,
.associazioneHomePage:hover {
    background-color: #69343452;
}