/* Index CSS */

.rowIndex {
    height: 100vh;
}

.indexHr {
    border: 1px outset;
    background-color: #FF0000;
    color: #FF0000;
    height: 25px;
    width: 75%;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}

.indexHr:before {
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}