/* Index CSS */

.rowIndex {
    height: 100vh;
}

.indexHr {
    background-color: #FF0000;
    color: #FF0000;
    height: 25px;
    width: 75%;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;

}

.indexHr:before {
    -webkit-transform: trasform rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}