/* Map Scss*/

.mapouter {
    position: relative;
    text-align: right;
    height: 469px;
    width: 465px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 469px;
    width: 465px;
}

@media (max-width:520px) {
    .gmap_canvas {
        max-width: 465px;
    }
}