@import "blog/_general.scss";
@import "blog/_navbar.scss";
@import "blog/_contact.scss";
@import "blog/_footer.scss";
@import "blog/_index.scss";
@import "blog/_post.scss";
@import "blog/_map.scss";
@import "blog/_cards.scss";
@import "blog/_docenti.scss";