{% extends 'baseScuola.html' %}
{% load static %}

{% block content %}

<!-- Team -->
<section id="team" class="pb-2">
    <div class="container">
        <h2 class="text-center font-weight-bold text-uppercase mb-3">Docenti</h2>
        <div class="row">
            <!-- Luigi Ciavarella -->
            <div class="col-sm-12 col-md-6 p-3">
                <div class="frontside h-100">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <img class="img-fluid mx-auto" src="/static/image/docenti/luigi.jpg" alt="card image">
                            <h4 class="card-title card-title-doc mt-3">Luigi Ciavarella</h4>
                            <h6 class="card-title">Direttore artistico e Docente di recitazione</h6>
                            <p class="card-text text-danger " style="font-size: 34px;"><i class="fas fa-file-pdf"></i></p>
                            <ul class="list-inline fixed-bottom">
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-skype"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-google"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Luigi Ciavarella -->
            <!-- Pia Martino -->
            <div class="col-sm-12 col-md-6 p-3">
                <div class="frontside h-100">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <img class=" img-fluid mx-auto" src="/static/image/docenti/pia.jpg" alt="card image">
                            <h4 class="card-title card-title-doc mt-3">Pia Martino</h4>
                            <h6 class="card-title">Regista, Drammaturga, Docente di Recitazione, Dizione e Drammaturgia
                            </h6>
                            <p class="card-text text-danger " style="font-size: 34px;"><i class="fas fa-file-pdf"></i></p>
                            <ul class="list-inline fixed-bottom">
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-skype"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-google"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Pia Martino -->

            <!-- Nicola Steduto -->
            <div class="col-sm-12 col-md-6 p-3">
                <div class="frontside h-100">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <img class=" img-fluid mx-auto" src="/static/image/docenti/nicola.jpg" alt="card image">
                            <h4 class="card-title card-title-doc mt-3">Nicola Steduto</h4>
                            <h6 class="card-title">Docente di Chitarra</h6>
                            <p class="card-text text-danger " style="font-size: 34px;"><i class="fas fa-file-pdf"></i></p>
                            <ul class="list-inline fixed-bottom">
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-skype"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-google"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Nicola Steduto -->
            <!-- Cecilia Mastromauro -->
            <div class="col-sm-12 col-md-6 p-3">
                <div class="frontside h-100">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <img class="img-fluid mx-auto" src="/static/image/docenti/cecilia.jpg" alt="card image">
                            <h4 class="card-title card-title-doc mt-3">Cecilia Mastromauro</h4>
                            <h6 class="card-title">Insegnante di danza</h6>
                            <p class="card-text text-danger " style="font-size: 34px;"><i class="fas fa-file-pdf"></i></p>
                            <ul class="list-inline fixed-bottom">
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-skype"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-google"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Cecilia Mastromauro -->
        </div>
    </div>
</section>
<!-- Team -->

{% endblock %}