{% extends 'baseScuola.html' %}
{% load staticfiles %}

{% block content %}

<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Docenti</h5>
        <div class="row">
            <!-- Luigi Ciavarella -->
            <div class="col-sm-12 col-md-6">
                <div class="frontside h-100">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <p><img class=" img-fluid" src="/static/image/docenti/luigi.jpg" alt="card image">
                            </p>
                            <h4 class="card-title">Luigi Ciavarella</h4>
                            <p class="card-text">Attore, comico, cabarettista e cantante; Regista; Docente di
                                recitazione teatrale e cinematografica; Docente di Dizione; Direttore Artistico;
                                Organizzatore di eventi e attività; Animazione Teatrale.
                                Attestato di recitazione cinematografica (Workshop
                                intensivo Studio Emme di Sergio Martinelli, Roma) ;
                                Diploma di attore cine – televisivo professionista (AccademiArtisti di Roma
                                diretta
                                da Rita Statte) ;
                                Attestato di recitazione e dizione, Workshop intensivo (Cinecittà Studios, Roma
                                Workshop diretto da Massimiliano Bruno, Fioretta Mari e Mario Cordova) ;
                                Diploma di Attore Professionista (Scuola di Teatro “Le Piume del Vento”, diretta
                                da
                                Pia Martino, San Giovanni Rotondo) ;</p>
                            <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Luigi Ciavarella -->
            <!-- Pia Martino -->
            <div class="col-sm-12 col-md-6">
                <div class="frontside h-100">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <p><img class=" img-fluid" src="/static/image/docenti/pia.jpg" alt="card image"></p>
                            <h4 class="card-title">Pia Martino</h4>
                            <p class="card-text">Regista, drammaturga, docente di recitazione, attrice; Docente
                                di Lettere.
                                Laureata in Pedagogia e Lettere Moderne; Master in Didattica
                                del Teatro e dello Spettacolo; Laurea in Saperi e Tecniche dello Spettacolo
                                Teatrale, Cinematografico, Digitale.</p>
                            <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Pia Martino -->
        </div>
        <div class="row mt-5">
            <!-- Nicola Steduto -->
            <div class="col-sm-12 col-md-6">
                <div class="frontside h-100">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <p><img class=" img-fluid" src="/static/image/docenti/nicola.jpg" alt="card image">
                            </p>
                            <h4 class="card-title">Nicola Steduto</h4>
                            <p class="card-text">Docente di Chitarra.
                                Nato a San Giovanni Rotondo il 27 Gennaio 1994, ha iniziato lo studio della chitarra
                                “classica” in giovanissima età. Si è laureato presso il Conservatorio di musica “Umberto
                                Giordano ” di Foggia, sezione staccata di Rodi Garganico, sotto la guida del maestro
                                Pasquale Filosa. Ha al suo attivo diversi concerti con importanti associazioni musicali
                                e anche esperienze di insegnamento in diverse accademie musicali; è vincitore di diversi
                                importanti concorsi a livello nazionale.
                            </p>
                            <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Nicola Steduto -->
            <!-- Cecilia Mastromauro -->
            <div class="col-sm-12 col-md-6">
                <div class="frontside h-100">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <p><img class=" img-fluid" src="/static/image/docenti/cecilia.jpg" alt="card image">
                            </p>
                            <h4 class="card-title">Cecilia Mastromauro</h4>
                            <p class="card-text">Insegnante di danza.
                                Inizia a studiare danza all’età di 8 anni partendo dal liscio,balli da sala,latino e
                                caraibico, continuando lo studio di danza moderna, jazz e hip hop, seguendo vari stage
                                con professionisti. Ha frequentato per 2 anni una prestigiosa scuola di danza moderna e
                                contemporanea di Roma. Dopo aver ottenuto i diplomi di danza moderna e hip hop ha
                                iniziato ad accumulare anni di esperienza nell’insegnamento.

                            </p>
                            <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Cecilia Mastromauro -->
        </div>
    </div>
</section>
<!-- Team -->

{% endblock %}