{% extends 'baseScuola.html' %}
{% load staticfiles %}

{% block content %}

<!-- Team -->
<section id="team" class="pb-2">
    <div class="container">
        <h2 class="text-center font-weight-bold text-uppercase mb-3">Docenti</h2>
        <div class="row">
            <!-- Luigi Ciavarella -->
            <div class="col-sm-12 col-md-6 p-3">
                <div class="frontside h-100">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <img class="img-fluid mx-auto" src="/static/image/docenti/luigi.jpg" alt="card image">
                            <h4 class="card-title card-title-doc mt-3">Luigi Ciavarella</h4>
                            <h6 class="card-title">Direttore artistico e Docente di recitazione</h6>
                            <p class="card-text"><i class="fas fa-file-pdf"></i></p>
                            <ul class="list-inline fixed-bottom">
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-skype"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-google"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Luigi Ciavarella -->
            <!-- Pia Martino -->
            <div class="col-sm-12 col-md-6 p-3">
                <div class="frontside h-100">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <img class=" img-fluid mx-auto" src="/static/image/docenti/pia.jpg" alt="card image">
                            <h4 class="card-title card-title-doc mt-3">Pia Martino</h4>
                            <h6 class="card-title">Regista, Drammaturga, Docente di Recitazione, Dizione e Drammaturgia
                            </h6>
                            <p class="card-text"><i class="fas fa-file-pdf"></i></p>
                            <p class="card-text">Regista, drammaturga, docente di recitazione, attrice; Docente
                                di Lettere.
                                Laureata in Pedagogia e Lettere Moderne; Master in Didattica
                                del Teatro e dello Spettacolo; Laurea in Saperi e Tecniche dello Spettacolo
                                Teatrale, Cinematografico, Digitale.</p>
                            <ul class="list-inline fixed-bottom">
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-skype"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-google"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Pia Martino -->

            <!-- Nicola Steduto -->
            <div class="col-sm-12 col-md-6 p-3">
                <div class="frontside h-100">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <img class=" img-fluid mx-auto" src="/static/image/docenti/nicola.jpg" alt="card image">
                            <h4 class="card-title card-title-doc mt-3">Nicola Steduto</h4>
                            <h6 class="card-title">Docente di Chitarra</h6>
                            <p class="card-text"><i class="fas fa-file-pdf"></i></p>
                            <p class="card-text">
                                Nato a San Giovanni Rotondo il 27 Gennaio 1994, ha iniziato lo studio della chitarra
                                “classica” in giovanissima età. Si è laureato presso il Conservatorio di musica “Umberto
                                Giordano ” di Foggia, sezione staccata di Rodi Garganico, sotto la guida del maestro
                                Pasquale Filosa. Ha al suo attivo diversi concerti con importanti associazioni musicali
                                e anche esperienze di insegnamento in diverse accademie musicali; è vincitore di diversi
                                importanti concorsi a livello nazionale.
                            </p>
                            <ul class="list-inline fixed-bottom">
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-skype"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-google"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Nicola Steduto -->
            <!-- Cecilia Mastromauro -->
            <div class="col-sm-12 col-md-6 p-3">
                <div class="frontside h-100">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <img class="img-fluid mx-auto" src="/static/image/docenti/cecilia.jpg" alt="card image">
                            <h4 class="card-title card-title-doc mt-3">Cecilia Mastromauro</h4>
                            <h6 class="card-title">Insegnante di danza</h6>
                            <p class="card-text"><i class="fas fa-file-pdf"></i></p>
                            <p class="card-text">
                                Inizia a studiare danza all’età di 8 anni partendo dal liscio,balli da sala,latino e
                                caraibico, continuando lo studio di danza moderna, jazz e hip hop, seguendo vari stage
                                con professionisti. Ha frequentato per 2 anni una prestigiosa scuola di danza moderna e
                                contemporanea di Roma. Dopo aver ottenuto i diplomi di danza moderna e hip hop ha
                                iniziato ad accumulare anni di esperienza nell’insegnamento.
                            </p>
                            <ul class="list-inline fixed-bottom">
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-skype"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-google"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Cecilia Mastromauro -->
        </div>
    </div>
</section>
<!-- Team -->

{% endblock %}