/*.....................................................Contact Form*/

.contact-heading {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 80%;
}

.form-control {
    margin-bottom: 5px;
    display: initial;
}

.send-email-btn {
    float: right;
}

.element-content-text {
    color: black;
}


/*.....................................................Left Aside Bar*/
.contact-elements {
    text-align: center;
}


.contact-element-icon {
    text-transform: uppercase;
    color: #dadad3;
    font-size: 36px;
}

.contact-element-icon:hover {
    color: white;
}

.contact-element-icon a {
    font-weight: bold;
}

.contact-element-icon>.active>a,
.contact-element-icon>.active>a:focus,
.contact-element-icon>.active>a:hover {
    color: white;
    background: transparent;
}


.contact-body-text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin: 40px;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
}

.contact-form-input {
    margin-bottom: 5px;
}