@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap|Poppins&display=swap');


$font-stack: 'Poppins',
'Roboto',
sans-serif;
$primary-color: #333;

html {
    min-height: 100%;
}

body {
    font-family: $font-stack;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.container-personal {
    min-width: 100%;
    min-height: 100vh;
    margin-top: 60px;
}

.container_pages {
    margin-bottom: 20px;
    height: 100vh;
}

#page-content-wrapper {
    width: 100%;
}

footer {
    bottom: 0;
    color: white !important;
    height: 2em;
    left: 0;
    position: relative;
    font-size: small;
    width: 100%;
}

button:focus {
    outline: none;
}

.pagination-container {
    float: right;
}

.main {
    margin-top: 55px;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.img-circle {
    width: 50px;
    height: 50px;
}

.imgHome {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}


.associazioneHomeImg {
    min-width: 250px;
    min-height: 250px;
    display: flex;
}

.scuolaHomeImg {
    display: flex;
    min-width: 250px;
    min-height: 250px;
}

.card {
    box-shadow: 0 0 8px 1px #888888;
    margin: 0px 10px 0px 10px;
}

.marginTopNews {
    margin-top: 100px;
}

/*--------------------------------------------Colors*/
#news {
    color: whitesmoke;
    background-color: red;
    box-shadow: 0 0 12px 5px #888888;
}

.gliamiciColor {
    background-color: rgb(52, 54, 53) !important;
}


/************************** Text Formatting******/

.blog-post-title {
    font-weight: bold !important;
}

.slider_bar {
    height: 20px;
}

.carousel-indicators li {
    background-color: black;
}