.cart-mobile {
    float: right;
    display: flex;
}

#navbar {
    transition: top 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
}

.navbar-grey-transparent {
    background-color: #49505766 !important;
}

.navbar-text {
    color: white !important;
    font-weight: 800;
}

.navbar-hovered:hover {
    background-color: #ffffffb8;
    color: white;
    border-radius: 10px;
}

.navbar.navbar-dark .navbar-toggler {
    color: #fff;
}

.changeSiteBtn {
    margin: 25px;
}

@media (min-width: 768px) {

    .changeSiteBtnMobile {
        display: none;
    }
}

@media (max-width: 992px) {
    .navbar-grey-transparent {
        background-color: #343a40 !important;
    }

    .navbar-text {
        color: white !important;
        font-weight: 500;
    }

    .navbar-header {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .navbar-grey-transparent {
        background-color: #343a40 !important;
    }

    .navbar-text {
        color: white !important;
        font-weight: 500;
    }

    .navbar-header {
        width: 100%;
    }

    .changeSiteBtn {
        display: none;
    }
}