.badge {
    background: white;
    width: 100px !important;
    position: absolute;
    padding-top: 6px;
    float: right;
    right: 11px;
    top: 10px;
    width: 80px;
    height: 25px;
    text-align: center;
}

.dateText {
    font-size: 15px;
}

.pulse {
    display: block;
    width: 100px;
    height: 46px;
    background: #fc013af5 !important;
    cursor: pointer;
    -webkit-box-shadow: 0 0 0 rgba(225, 27, 27, 0.4);
    box-shadow: 0 0 0 rgba(255, 0, 0, 0.4);
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
    padding-top: 19px;
}

.pulse:hover {
    animation: none;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }

    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}