{% load staticfiles %}

<!DOCTYPE html>

<html lang="it">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Le Piume del Vento">
    <meta name="author" content="Antonio Augello">

    <title>Le Piume del Vento</title>

    <!-- FontAwesome CSS -->
    <script type="text/javascript">
        (function () {
            var css = document.createElement('link');
            css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css';
            css.rel = 'stylesheet';
            css.type = 'text/css';
            document.getElementsByTagName('head')[0].appendChild(css);
        })();
    </script>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!--Personal CSS-->
    <link rel="stylesheet" href="{% static 'scss/main.css' %}">


</head>

<body style="background: url('/static/image/bkg.jpg');  background-repeat: no-repeat;
background-size: cover;">

    <div class="container-fluid">
        <div class="homeCenteredDiv">
            <div class="row text-center">
                <!-- Scuola Logo-->
                <div class="col-sm-12 col-md-6 piumeDelVentoHomePage">
                    <a href="{% url 'scuolaHome' %}">
                        <div class="scuolaHomeImg h100">
                            <img class="mx-auto" src="/media/img/scuola_white.png" alt="associazione-logo">
                        </div>
                    </a>
                </div>
                <div class="col-sm-12 col-md-5"></div>
            </div>

            <hr class="indexHr">

            <!-- Associazione Logo-->
            <div class="row">
                <div class="col-sm-12 col-md-5"></div>
                <div class="col-sm-12 col-md-6 associazioneHomePage">
                    <a href="{% url 'associazioneHome' %}">
                        <div class="associazioneHomeImg h-100">
                            <img class="mx-auto" src="/media/img/associazione_completo_white.png"
                                alt="associazione-logo">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}">
    </script>

    <!-- Personal JS-->
    <script src="{% static 'js/custom.js' %}"></script>

</body>

</html>