{% load staticfiles %}

<!DOCTYPE html>

<html lang="it">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Le Piume del Vento">
    <meta name="author" content="Antonio Augello">

    <title>Le Piume del Vento</title>

    <!-- FontAwesome CSS -->
    <script type="text/javascript">
        (function () {
            var css = document.createElement('link');
            css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css';
            css.rel = 'stylesheet';
            css.type = 'text/css';
            document.getElementsByTagName('head')[0].appendChild(css);
        })();
    </script>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!--Personal CSS-->
    <link rel="stylesheet" href="{% static 'scss/main.css' %}">


</head>

<body style="background: url('/static/image/bkg.jpg');  background-repeat: no-repeat;
background-size: cover;">

    <div class="container-fluid">
        <div class="row text-center">

            <!-- Scuola Logo-->
            <div class="col-12 mx-auto piumeDelVentoHomePage">
                <a href="{% url 'scuolaHome' %}">
                    <div class="container">
                        <div class="scuolaHomeImg w-100 h100"></div>
                    </div>
                </a>
            </div>
            <hr class="indexHr">

            <!-- Associazione Logo-->
            <div class="col-12 mx-auto associazioneHomePage">
                <a href="{% url 'associazioneHome' %}">
                    <div class="container">
                        <div class="associazioneHomeImg w-100 h-100">
                            <img src="/media/img/associazione_completo.png" alt="associazione-logo">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}">
    </script>

    <!-- Personal JS-->
    <script src="{% static 'js/custom.js' %}"></script>

</body>

</html>