{% load staticfiles %}

<!DOCTYPE html>

<html lang="it">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Le Piume del Vento">
    <meta name="author" content="Antonio Augello">

    <title>Le Piume del Vento</title>

    <!-- FontAwesome CSS -->
    <script type="text/javascript">
        (function () {
            var css = document.createElement('link');
            css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css';
            css.rel = 'stylesheet';
            css.type = 'text/css';
            document.getElementsByTagName('head')[0].appendChild(css);
        })();
    </script>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!--Personal CSS-->
    <link rel="stylesheet" href="{% static 'scss/main.css' %}">


</head>

<body style="background: url('/media/img/bkgPattern.png')">
    <div class="container-fluid">
        <div class="row rowIndex text-center">
            <div class="col-12 mx-auto piumeDelVentoHomePage">
                <div class="container">
                    <a href="{% url 'scuolaHome' %}"><img src="/media/img/scuola.png" alt="scuola-logo" class=""></a>
                </div>
            </div>
            <hr class="indexHr">
            <div class="col-12 mx-auto associazioneHomePage">
                <div class="container">
                    <h1><a href="{% url 'associazioneHome' %}">Gli Amici del Teatro</a></h1>
                    <img src="/media/img/associazione_completo.png">
                </div>
            </div>
        </div>
    </div>

</body>