{% extends 'baseScuola.html' %}
{% load static %}

{% block content %}

<section>
    <div class="container">
        <h2 class="text-center font-weight-bold text-uppercase mb-3">Albums</h2>
        <div class="row">
            {%for album in albums %}
            <div class="col-sm-12 col-md-6 col-lg-4 p-3">
                <a href="{% url 'lePiumeGallery' album.id %}">
                    <div class="card cardGallery bg-dark text-white">
                        <img src="{{album.cover}}" class="card-img" alt="{{album.title}}">
                        <div class="card-img-overlay card-title-gallery">
                            <h5 class="card-title text-white font-weight-bold">{{album.title}}</h5>
                            {% if album.description != none %}
                            <p class="card-text">{{album.description}}</p>
                            {% endif %}
                            <p class="card-text">{{album.published_date|date:"d M Y"}}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}