{% load staticfiles %}

<!DOCTYPE html>

<html lang="it">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Le Piume del Vento">
    <meta name="author" content="Antonio Augello">

    <title>Le Piume del Vento</title>

    <!-- FontAwesome CSS -->
    <script type="text/javascript">
        (function () {
            var css = document.createElement('link');
            css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css';
            css.rel = 'stylesheet';
            css.type = 'text/css';
            document.getElementsByTagName('head')[0].appendChild(css);
        })();
    </script>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!--Personal CSS-->
    <link rel="stylesheet" href="{% static 'scss/main.css' %}">


</head>

<body class="homeBody">

    <div class="container-fluid">
        <div class="homePageDiv">
            <div class="row text-center">

                <!-- Scuola Logo-->
                <div class="col-sm-12 col-md-10 piumeDelVentoHomePage">
                    <a href="{% url 'scuolaHome' %}">
                        <div class="scuolaHomeImg h100">
                            <img class="mx-auto imgHomePage" src="/media/img/scuola_logo.png" alt="associazione-logo">
                        </div>
                    </a>
                </div>
            </div>

            <hr class="indexHr">

            <!-- Associazione Logo-->
            <div class="row">
                <div class="col-sm-12 col-md-10 associazioneHomePage">
                    <a href="{% url 'associazioneHome' %}">
                        <div class="associazioneHomeImg h-100">
                            <img class="mx-auto imgHomePage" src="/media/img/associazione_logo.png"
                                alt="associazione-logo">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}">
    </script>

    <!-- Personal JS-->
    <script src="{% static 'js/custom.js' %}"></script>

    <script>
        function deleteAllCookies() {
            var cookies = document.cookie.split(";");

            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i];
                var eqPos = cookie.indexOf("=");
                var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
                document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
            }
        }

        deleteAllCookies()
    </script>

    <!--Policy coockies privacy-->
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?theme=flying&always=1&showNoConsent=1&showPolicyLink=1&privacyPage=%2Fhome%2Finformativaprivacy">
    </script>
</body>

</html>