@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
html {
  height: 100%;
}

body {
  min-height: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.container-personal {
  min-width: 100%;
  margin-top: 30px;
}

.container_pages {
  margin-bottom: 20px;
  height: 100vh;
}

#page-content-wrapper {
  width: 100%;
}

footer {
  bottom: 0;
  color: white !important;
  height: 2em;
  left: 0;
  position: relative;
  font-size: small;
  width: 100%;
}

button:focus {
  outline: none;
}

.pagination-container {
  float: right;
}

.main {
  margin-top: 55px;
}

.btn.focus,
.btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.img-circle {
  width: 50px;
  height: 50px;
}

.imgHome {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

.homeCenteredDiv {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.associazioneHomeImg {
  min-width: 250px;
  min-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.scuolaHomeImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 250px;
  min-height: 250px;
}

.card {
  -webkit-box-shadow: 0 0 8px 1px #888888;
          box-shadow: 0 0 8px 1px #888888;
  margin: 0px 10px 0px 10px;
}

/*--------------------------------------------Colors*/
#news {
  color: whitesmoke;
  background-color: red;
  -webkit-box-shadow: 0 0 12px 5px #888888;
          box-shadow: 0 0 12px 5px #888888;
}

.gliamiciColor {
  background-color: #343635 !important;
}

/************************** Text Formatting******/
.blog-post-title {
  font-weight: bold !important;
}

.slider_bar {
  height: 20px;
}

.carousel-indicators li {
  background-color: black;
}

@media (max-width: 992px) {
  .navbar-header {
    width: 100%;
  }
}

.cart-mobile {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#navbar {
  -webkit-transition: top 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
  transition: top 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
}

.navbar-grey-transparent {
  background-color: #49505766 !important;
}

.navbar-text {
  color: white !important;
  font-weight: 800;
}

.navbar-hovered:hover {
  background-color: #ffffffb8;
  color: white;
  border-radius: 10px;
}

@media (max-width: 992px) {
  .navbar-grey-transparent {
    background-color: #343a40 !important;
  }
  .navbar-text {
    color: white !important;
    font-weight: 500;
  }
}

/*.....................................................Contact Form*/
.contact-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 20px;
}

.center-form {
  padding-top: 10px;
  margin: 0 auto;
  max-width: 80%;
}

.form-control {
  margin-bottom: 5px;
  display: initial;
}

.send-email-btn {
  float: right;
}

.element-content-text {
  color: #dadad3;
}

a .element-content-text:hover {
  color: #dadad3;
}

/*.....................................................Left Aside Bar*/
.contact-items-body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  padding: 5px;
}

.contact-elements {
  text-align: center;
}

.contact-phone-square,
.contact-email-square {
  max-width: 48%;
  background-color: #525252;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 5px;
  margin: 3px;
  color: white;
}

.contact-phone-square:hover {
  background-color: #525252;
  color: white;
}

.contact-email-square:hover {
  background-color: #525252;
  color: white;
}

.contact-element-icon {
  text-transform: uppercase;
  color: #dadad3;
  font-size: 36px;
}

.contact-element-icon:hover {
  color: white;
}

.contact-element-icon a {
  font-weight: bold;
}

.contact-element-icon > .active > a,
.contact-element-icon > .active > a:focus,
.contact-element-icon > .active > a:hover {
  color: white;
  background: transparent;
}

.contact-body-text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 40px;
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
}

.contact-form-input {
  margin-bottom: 5px;
}

.links-list {
  list-style: none;
}

.links-list-footer {
  color: white;
}

.links,
.contact-footer {
  margin: 10px 0 10px 0;
}

.footer-social-links {
  padding: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 13px;
  line-height: 7px;
  color: #fafafa;
  background: #8f8f8f;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.footer-social-links li a i:hover {
  background: #e84610;
}

/* Index CSS */
.indexHr {
  background-image: url(/media/img/hr_divider.png);
  color: #FF0000;
  height: 25px;
  width: 75%;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}

.full-width-header {
  height: 75vh;
  text-align: center;
  position: block;
  overflow: hidden;
}

.jumbotron-container {
  margin: auto;
  position: relative;
  height: 75vh;
  width: 100%;
}

.page-jumbotron {
  width: 100%;
  height: 75vh;
  padding: 8%;
  text-align: center;
  margin: auto;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  position: inherit;
}

.logo-carousel {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 75vh;
}

.piumeDelVentoHomePage,
.associazioneHomePage {
  border: 1px solid;
  -webkit-box-shadow: 1px 0px 3px 4px #888888;
          box-shadow: 1px 0px 3px 4px #888888;
  max-width: 80%;
  margin: auto;
}

.piumeDelVentoHomePage:hover,
.associazioneHomePage:hover {
  background-color: #69343452;
}

.img-blogpost {
  max-width: 60%;
}

.firma-card {
  background: #fff;
  border: 1px solid;
  border-color: #c7bdbd40;
  margin: 1rem auto;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 6px -1px #c6cfea;
          box-shadow: 0 4px 6px -1px #c6cfea;
  margin-bottom: 1.6%;
  overflow: hidden;
}

.firma-resim {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: -webkit-transform .2s;
  -webkit-transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg);
}

.firmalar {
  background: #f1f4f5c7;
}

@media (max-width: 768px) {
  .firma-logo {
    width: calc(33.66667% - .75rem);
    height: 6.5rem;
    margin: 5px .375rem;
  }
  .firma-resim {
    position: relative;
    z-index: 0;
    height: 200px;
  }
  .img-padding-no {
    padding-right: 0px;
    padding-left: 0px;
  }
}

/* FontAwesome for working BootSnippet :> */
#team {
  background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #108d6f;
  border-color: #108d6f;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #007b5e;
  border-color: #007b5e;
}

section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#team .card {
  border: none;
  background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px #9e9e9e;
  box-shadow: 5px 7px 9px -4px #9e9e9e;
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
  min-height: 312px;
}

.backside .card a {
  font-size: 18px;
  color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
  color: #007b5e !important;
}

.frontside .card .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
/*# sourceMappingURL=main.css.map */