{% extends 'baseScuola.html' %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid mt-5">
    <div class="container mt-5">
        <div class="introCorsi">
            <h2>Corsi</h2>
            <p>Presso la nostra scuola di formazione teatrale e cinematografica, sarai seguito e preparato da docenti
                altamente qualificati con esperienza professionale.</p>
        </div>
        <div class="row mt-5">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="recitazione">
                    <h2>Recitazione</h2>
                    <ul>
                        <li>Recitazione, metodo Stanislavskij e motodo Strasberg</li>
                        <li>Psicologia e Pedagogia teatrale</li>
                        <li>Improvvisazione</li>
                        <li>Tecniche performative e training dell'attore</li>
                        <li>Tecniche di respirazione e interpretazione vocale</li>
                        <li>Movimento scenico</li>
                        <li>Costruzione di uno spazio scenico</li>
                        <li>Neutralità e Presenza scanica</li>
                        <li>Elementi di Regia e Drammaturgia</li>
                        <li>Elementi di Sceneggiatura</li>
                        <li>Elementi di Scenografia</li>
                        <li>Studio dei generi teatrali:
                            <ul>
                                <li>Commedia, Tragedia, Dramma, Varietà, Cabaret, Commedia dell'Arte, Teatro
                                    dell'Assurdo
                                </li>
                            </ul>
                        </li>
                        <li>Danza coreografica e show dance</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">

                <div class="dizione">
                    <h2>Dizione</h2>
                    <ul>
                        <li>Uso corretto della voce e tecniche di emissione</li>
                        <li>Tecniche di lettura</li>
                        <li>Lettura espressiva, interpretativa e animata</li>
                        <li>Tecniche di respirazione e interpretazione vocale</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="artiMusicali">
                    <h2>Arti Musicali</h2>
                    <ul>
                        <li>Chitarra classica e chitarra elettrica</li>
                        <li>Alfabetizzazione musicale</li>
                        <li>Solfeggio e lettura dello spartito</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}