{% extends 'baseScuola.html' %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid mt-5">
    <div class="container mt-5">
        <h2>Recitazione</h2>
        <ul>
            <li>Recitazione, metodo Stanislavskij e motodo Strasberg</li>
            <li>Psicologia e Pedagogia teatrale</li>
            <li>Improvvisazione</li>
            <li>Tecniche performative e training dell'attore</li>
            <li>Tecniche di respirazione e interpretazione vocale</li>
            <li>Movimento scenico</li>
            <li>Costruzione di uno spazio scenico</li>
            <li>Neutralità e Presenza scanica</li>
            <li></li>
        </ul>
    </div>
</div>

{% endblock %}