{% extends 'baseScuola.html' %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid mt-5">
    <div class="container mt-5 mb-5">
        <div class="introCorsi">
            <h2>Corsi</h2>
            <p>Presso la nostra scuola di formazione teatrale e cinematografica, sarai seguito e preparato da docenti
                altamente qualificati con esperienza professionale.</p>
        </div>

        <!--Cards corsi-->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
            id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->

        <div class="firmalar">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="firma-card row">
                            <div class="col-md-5 img-padding-no">
                                <div class="firma-resim">
                                    <a href="#">

                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="firma-aciklama card-body">
                                    <h4>Recitazione</h4>
                                    <ul class="yacht-info__list space-2">
                                        <li>
                                            <i class="search-boat-icon fa search-captain vertical-align-mid"></i>
                                            <span class="vertical-align-mid">Kaptanlı</span>
                                        </li>
                                        <li>
                                            <i class="search-boat-icon fa search-captain vertical-align-mid"></i>
                                            <span class="vertical-align-mid">Kaptanlı</span>
                                        </li>
                                        <li>
                                            <i class="search-boat-icon fa search-captain vertical-align-mid"></i>
                                            <span class="vertical-align-mid">Kaptanlı</span>
                                        </li>
                                        <li>
                                            <i class="search-boat-icon fa search-captain vertical-align-mid"></i>
                                            <span class="vertical-align-mid">Kaptanlı</span>
                                        </li>
                                        <li>
                                            <i class="search-boat-icon fa search-captain vertical-align-mid"></i>
                                            <span class="vertical-align-mid">Kaptanlı</span>
                                        </li>
                                    </ul>


                                </div>
                            </div>
                        </div>
                        <div class="firma-card row">
                            <div class="col-md-5 img-padding-no">
                                <div class="firma-resim">
                                    <a href="#">

                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="firma-aciklama card-body">
                                    <h4>Recitazione</h4>
                                    <ul class="yacht-info__list space-2">
                                        <li>Elementi di Scenografia</li>
                                        <li>Studio dei generi teatrali:
                                            <ul>
                                                <li>Commedia, Tragedia, Dramma, Varietà, Cabaret, Commedia dell'Arte,
                                                    Teatro
                                                    dell'Assurdo
                                                </li>
                                            </ul>
                                        </li>
                                        <li>Danza coreografica e show dance</li>
                                        <i class="search-boat-icon fa search-captain vertical-align-mid"></i>
                                        <span class="vertical-align-mid">Recitazione, metodo Stanislavskij e motodo
                                            Strasberg</span>
                                        </li>
                                        <li>
                                            <i class="search-boat-icon fa search-captain vertical-align-mid"></i>
                                            <span class="vertical-align-mid">Psicologia e Pedagogia teatrale</span>
                                        </li>
                                        <li>
                                            <i class="search-boat-icon fa search-captain vertical-align-mid"></i>
                                            <span class="vertical-align-mid">Improvvisazione</span>
                                        </li>
                                        <li>
                                            <i class="search-boat-icon fa search-captain vertical-align-mid"></i>
                                            <span class="vertical-align-mid">Tecniche performative e training
                                                dell'attore</span>
                                        </li>
                                        <li>
                                            <i class="search-boat-icon fa search-captain vertical-align-mid"></i>
                                            <span class="vertical-align-mid"> Tecniche di respirazione e interpretazione
                                                vocale
                                            </span>
                                        </li>
                                        <li>
                                            <i class="search-boat-icon fa search-captain vertical-align-mid"></i>
                                            <span class="vertical-align-mid">Movimento scenico</span>
                                        </li>
                                        <li>
                                            <i class="search-boat-icon fa search-captain vertical-align-mid"></i>
                                            <span class="vertical-align-mid">Costruzione di uno spazio scenico</span>
                                        </li>
                                        <li>
                                            <i class="search-boat-icon fa search-captain vertical-align-mid"></i>
                                            <span class="vertical-align-mid">Neutralità e Presenza scanica</span>
                                        </li>
                                        <li>
                                            <i class="search-boat-icon fa search-captain vertical-align-mid"></i>
                                            <span class="vertical-align-mid">Elementi di Regia e Drammaturgia</span>
                                        </li>
                                        <li>
                                            <i class="search-boat-icon fa search-captain vertical-align-mid"></i>
                                            <span class="vertical-align-mid">Kaptanlı</span>
                                        </li>
                                        <li>
                                            <i class="search-boat-icon fa search-captain vertical-align-mid"></i>
                                            <span class="vertical-align-mid">Kaptanlı</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
        <!--./Cards Corsi-->

        <div class="row mt-5">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="recitazione">
                    <h2>Recitazione</h2>
                    <ul>
                        <li>Recitazione, metodo Stanislavskij e motodo Strasberg</li>
                        <li>Psicologia e Pedagogia teatrale</li>
                        <li>Improvvisazione</li>
                        <li>Tecniche performative e training dell'attore</li>
                        <li>Tecniche di respirazione e interpretazione vocale</li>
                        <li>Movimento scenico</li>
                        <li>Costruzione di uno spazio scenico</li>
                        <li>Neutralità e Presenza scanica</li>
                        <li>Elementi di Regia e Drammaturgia</li>
                        <li>Elementi di Sceneggiatura</li>
                        <li>Elementi di Scenografia</li>
                        <li>Studio dei generi teatrali:
                            <ul>
                                <li>Commedia, Tragedia, Dramma, Varietà, Cabaret, Commedia dell'Arte, Teatro
                                    dell'Assurdo
                                </li>
                            </ul>
                        </li>
                        <li>Danza coreografica e show dance</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">

                <div class="dizione">
                    <h2>Dizione</h2>
                    <ul>
                        <li>Uso corretto della voce e tecniche di emissione</li>
                        <li>Tecniche di lettura</li>
                        <li>Lettura espressiva, interpretativa e animata</li>
                        <li>Tecniche di respirazione e interpretazione vocale</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="artiMusicali">
                    <h2>Arti Musicali</h2>
                    <ul>
                        <li>Chitarra classica e chitarra elettrica</li>
                        <li>Alfabetizzazione musicale</li>
                        <li>Solfeggio e lettura dello spartito</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}