{% extends 'baseScuola.html' %}
{% load staticfiles %}

{% block content %}

<!-- Page Header-->
<div class="full-width-header">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 logo-carousel" src="/media/img/slide1.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 logo-carousel" src="/media/img/slide2.jpg" alt="Second slide">
            </div>

            <!-- Callout -->
            <div class="callout-row jumbotron-container">
                <div class="jumbotron page-jumbotron">
                    <h1 class="display-4">News Title</h1>
                    <p class="lead">News sub-header</p>
                    <hr class="my-4 advert-hr">
                    <p>News body
                    </p>
                    <a class="btn btn-primary btn-lg advert-btn" href="" role="button">Read More</a>
                </div>
            </div>
            <!-- /.callout -->
        </div>
    </div>
</div>
<!-- ./Page Header-->

<!-- Story Info-->
<div class="container-fluid mt-5 mb-5">
    <div class="row">
        <div class="col-12">
            <div class="container text-center">
                <h2></h2>
                <div class="card text-center">
                    <div class="card-header">
                        <div class="d-flex">
                            <ul class="nav nav-pills list-inline mx-auto justify-content-center mb-3" id="pills-tab"
                                role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Chi Siamo</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">La Nostra Storia
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
                                        role="tab" aria-controls="pills-contact" aria-selected="false">Spettacoli</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content" id="pills-tabContent">
                            <!--Chi siamo-->
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                aria-labelledby="pills-home-tab">Le Piume del Vento” è una scuola di formazione teatrale
                                e cinematografica, laboratorio annuale dell’Associazione Teatrale Culturale “Gli Amici
                                del Teatro” con una propria sede legale. La scuola è nata per scoprire e formare nuovi
                                talenti da avviare alla professione dell’attore-attrice, nel teatro e nel cinema. Si
                                avvale di insegnanti qualificati e collaboratori esperti nel settore teatro.
                                La scuola dispone di una sala teatrale che serve ad abituare gli allievi alla dimensione
                                – teatro. Offre un programma didattico che prevede lezioni teoriche e pratiche di gruppo
                                e personali adoperando il metodo Stanislavskij; inoltre vengono effettuate esercitazioni
                                commentate criticamente con i docenti professionisti. A fine anno gli allievi mettono in
                                scena rappresentazioni teatrali ed è prevista la consegna degli attestati
                                frequenza-diplomi riconosciuti dall’ Associazione Culturale Teatrale “Gli Amici del
                                Teatro”.
                                L’obiettivo primo è quello di diffondere la cultura del teatro, inteso anche come
                                “gioco” (Recitare = To Play), il secondo obiettivo è accogliere in tale luogo i ragazzi
                                con problematiche sociali e fisiche formandoli tramite lezioni di teatro terapeutico.
                                Inoltre è un modo per tenere lontano i ragazzi e i giovani dai mali che attanagliano la
                                nostra società come droga, alcool, fumo, essendo un ambiente sano, dove si incontrano
                                per scambiarsi idee e conoscenze, diventando così un ritrovo fatto di genuino
                                divertimento. La scuola vuole formare anche la persona, prima dell’attore, dal punto di
                                vista etico-morale; dà opportunità ai ragazzi e ai giovani di liberarsi momentaneamente
                                dalla tecnologia che crea forme di socializzazione passiva. È bello vederli recitare,
                                cantare, ballare, scrivere testi e rappresentarli, creare scene, costumi spensierati e
                                sereni in un clima armonico. Chiunque può venire a visitare il laboratorio per vedere
                                quanta semplicità ed accoglienza regnano ed aleggiano nell’ aria che si respira.</div>
                            <!--Storia-->
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                aria-labelledby="pills-profile-tab">
                                ...</div>
                            <!--Lista Spettacoli-->
                            <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                                aria-labelledby="pills-contact-tab">
                                <ul class="list-inline">

                                    <li>2012 - <span class="font-italic font-weight-bold">Pulcinella</span>, umile
                                        servitore, monologo scritto e diretto da Pia Martino;</li>
                                    <li>2012 - <span class="font-italic font-weight-bold">Miseria e Nobiltà</span>,
                                        sketch diretto da Luigi Ciavarella;</li>
                                    <li>2013 - <span class="font-italic font-weight-bold">La Bella e la Bestia</span>,
                                        musical, regia e adattamento di Pia Martino, aiuto regia Merilisa Lavorgna e
                                        Luigi Ciavarella;</li>
                                    <li>2014 - <span class="font-italic font-weight-bold">Due principesse e due principi
                                            sbadati</span>, commedia scritta e diretta da Pia Martino;
                                    </li>
                                    <li>2014 - <span class="font-italic font-weight-bold">Una strana serata fra
                                            amici</span>,
                                        sketch scritto e diretto da Pia Martino e Luigi Ciavarella;</li>
                                    <li>2014 - <span class="font-italic font-weight-bold">Cenerentola in Musical</span>,
                                        commedia scritta e diretta da Pia Martino;</li>
                                    <li>2014 - <span class="font-italic font-weight-bold">La Grande Impresa</span>,
                                        commedia musicale scritta da Pia Martino con la collaborazione di Luigi
                                        Ciavarella e Merilisa Lavorgna diretta da Pia Martino;</li>
                                    <li>2014 - <span class="font-italic font-weight-bold">Un delitto perfetto</span>,
                                        cortometraggio, sceneggiatura di Pia Martino e Luigi Ciavarella, regia Luigi
                                        Ciavarella;</li>
                                    <li>2015 - <span class="font-italic font-weight-bold">Giulietta e Romeo in
                                            Parodia</span>, sketch scritto e diretto da Pia Martino;</li>
                                    <li>2015 - <span class="font-italic font-weight-bold">Un viaggio nel mondo delle
                                            favole</span>,
                                        commedia scritta e diretta da Pia Martino, aiuto regia Luigi Ciavarella;</li>
                                    <li>2016 - <span class="font-italic font-weight-bold">La Bella e la Bestia</span>,
                                        musical, regia e adattamento di Pia Martino;
                                    </li>
                                    <li>2016 - <span class="font-italic font-weight-bold">Alice nel Paese delle
                                            Meraviglie</span>,
                                        commedia scritta e diretta da Pia Martino;</li>
                                    <li>2016 - <span class="font-italic font-weight-bold">La magia delle tre
                                            fate</span>commedia scritta e diretta da Pia Martino;</li>
                                    <li>2016 - <span class="font-italic font-weight-bold">I Promessi Sposi,
                                            Parodia</span>, parodia scritta e diretta da Pia Martino e Luigi Ciavarella;
                                    </li>
                                    <li>2016 - <span class="font-italic font-weight-bold">Le beffe delle
                                            Maschere</span>,
                                        commedia scritta e diretta da Pia Martino e Luigi Ciavarella;</li>
                                    <li>2016 - <span class="font-italic font-weight-bold">L’avventura di due famiglie di
                                            topi</span>,
                                        commedia scritta e diretta da Pia Martino;</li>
                                    <li>2017 - <span class="font-italic font-weight-bold">L’inganno degli Dei</span>,
                                        commedie scritta e diretta da Pia Martino e Luigi Ciavarella;</li>
                                    <li>2014 - <span class="font-italic font-weight-bold">Gioco e Pregiudizio</span>,
                                        commedia scritta e diretta da Pia Martino, aiuto
                                        regia
                                        Luigi Ciavarella;</li>
                                    <li>2014 - <span class="font-italic font-weight-bold">Una buffa compagnia</span>,
                                        commedia scritta e diretta da Pia Martino;</li>
                                    <li>2014 - <span class="font-italic font-weight-bold">Giulietta e Romeo in
                                            Parodia</span>, sketch scritto e diretto da Pia Martino;
                                    </li>
                                    <li>2015 - <span class="font-italic font-weight-bold">Un viaggio in miniera</span>,
                                        spettacolo sociale, diretto da Pia Martino;</li>
                                    <li>2015 - <span class="font-italic font-weight-bold">Cineteatromusica live
                                            show</span>, spettacolo onemanshow, diretto da Luigi
                                        Ciavarella;</li>
                                    <li>2015 - <span class="font-italic font-weight-bold">La fortuna vien
                                            ridendo</span>, commedia scritta e diretta da Martino Pia;</li>
                                    <li>2016 - <span class="font-italic font-weight-bold">I Promessi Sposi</span>,
                                        Parodia, parodia scritta e diretta da Pia Martino;</li>
                                    <li>2017 - <span class="font-italic font-weight-bold">Il Varietà, Teatro e
                                            Musica</span>, spettacolo di varietà diretto da Luigi
                                        Ciavarella;</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--./Story Info-->

<!--Latest News-->
<div id="news" class="col-lg-12 mt-5 mb-5">
    <h2>Ultime News da Le Piume del Vento</h2>
    <div id="bestsellers-carousel" class="carousel slide my-4" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row-carousel" style="display:-webkit-box">
                    {% for post in posts %}
                    <!--card-->
                    <div class="col-xs-12 col-md-6 col-lg-4 mb-4">
                        <div class="card h-100">
                            <a href="{% url 'post_detail' post.id %}"><img class="img-shop card-img-top"
                                    src="{{ post.image }}" alt=" {{ post.titolo }}"></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="{% url 'post_detail' post.id %}">{{ post.titolo }}</a>
                                </h4>
                                <p class="card-text">{{ post.contenuto|truncatechars:50 }}</p>
                                <div>
                                </div>
                            </div>
                        </div>
                        <!--./card-->
                        {% if forloop.counter|divisibleby:3 and not forloop.last %}
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row-carousel" style="display:-webkit-box">
                        {% endif %} {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Left and right controls -->
            <div class="slider_bar">
                <ol class="carousel-indicators">
                    <li data-target="#bestsellers-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#bestsellers-carousel" data-slide-to="1"></li>
                    <li data-target="#bestsellers-carousel" data-slide-to="2"></li>
                </ol>
            </div>
            <!--/.Carousel Wrapper-->
        </div>
        <!-- / End Latest Product Carousel -->

    </div>
</div>
<!--./Latest News-->

<!--Orari e contatti-->
<div class="container-fluid">
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-sm12 col-md-6">
                <!-- MAP TO INSERT IN CONTACT INFO!-->
                <div id="mapouter">
                    <iframe width='100%' height='100%' id='mapcanvas'
                        src='https://maps.google.com/maps?q=le%20piume%20del%20vento%20san%20giovanni%20rotondo&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=&amp;output=embed'
                        frameborder='0' scrolling='no' marginheight='0' marginwidth='0'>
                        <div class="zxos8_gm"><a rel="bookmark"
                                href="https://www.freecarcheck.co.uk/guides/find-car-owner-by-vehicle-registration-number-plate">this</a>
                        </div>
                        <div style='overflow:hidden;'>
                            <div id='gmap_canvas' style='height:100%;width:100%;'></div>
                        </div>
                        <div><small>Powered by <a href="https://www.embedgooglemap.co.uk">Embed Google
                                    Map</a></small>
                        </div>
                    </iframe>
                </div>
                <!--./MAP-->
            </div>
            <div class="col-sm12 col-md-6">
                <h3 class="text-center">Orari di apertura</h3>
                <table class="mx-auto">
                    <tr>
                        <th>Lunedi</th>
                        <td>9am - 5pm</td>
                    </tr>
                    <tr>
                        <th>Martedi</th>
                        <td>9am - 5pm</td>
                    </tr>
                    <tr>
                        <th>Mercoledi</th>
                        <td>9am - 5pm</td>
                    </tr>
                    <tr>
                        <th>Giovedi</th>
                        <td>9am - 5pm</td>
                    </tr>
                    <tr>
                        <th>Venerdi</th>
                        <td>9am-5pm</td>
                    </tr>
                    <tr>
                        <th>Sabato</th>
                        <td>Chiuso</td>
                    </tr>
                    <tr>
                        <th>Domenica</th>
                        <td>Chiuso</td>
                    </tr>
                    <th>Festivi chiuso</th>
                    <th></th>
                </table>
            </div>
        </div>
    </div>
</div>
<!--./Orari e contatti-->
{% endblock %}