{% extends 'baseAssociazione.html' %}
{% load staticfiles %}

{% block content %}

<!-- Page Header-->
<div class="full-width-header">
    <div id="carouselLogo" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="logo-carousel" src="{% static 'media/background/2.jpg' %}" alt="Logo Slide" />
            </div>
            <div class="carousel-item">
                <img class="logo-carousel" src="{% static 'media/background/4.jpg' %}" alt="Logo Slide" />
            </div>
            <div class="carousel-item">
                <img class="logo-carousel" src="{% static 'media/background/3.jpg' %}" alt="Logo Slide" />
            </div>
            <div class="carousel-item">
                <img class="logo-carousel" src="{% static 'media/background/5.jpg' %}" alt="Logo Slide" />
            </div>

            <!-- Callout -->
            {% if user.is_authenticated %} {%else%}
            <div class="callout-row jumbotron-container">
                <div class="jumbotron page-jumbotron">
                    <h1 class="display-4">Listen your music everywhere, anytime!</h1>
                    <p class="lead">Get 5% OFF on your firt purchase.</p>
                    <hr class="my-4 advert-hr">
                    <p>Register, buy, play.
                    </p>
                    <a class="btn btn-primary btn-lg advert-btn" href="" role="button">News</a>
                </div>
            </div>
            {% endif %}
            <!-- /.callout -->
        </div>
    </div>
</div>

<h1>Gli Amici del Teatro</h1>

{% endblock %}