{% extends 'baseAssociazione.html' %}
{% load staticfiles %}

{% block content %}

<!-- Page Header-->

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="..." alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="..." alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="..." alt="Third slide">
        </div>
    </div>

    <!-- Callout -->
    <div class="callout-row jumbotron-container">
        <div class="jumbotron page-jumbotron">
            <h1 class="display-4">News Title</h1>
            <p class="lead">News sub-header</p>
            <hr class="my-4 advert-hr">
            <p>News body
            </p>
            <a class="btn btn-primary btn-lg advert-btn" href="" role="button">Read More</a>
        </div>
    </div>
    <!-- /.callout -->

</div>



<h1>Gli Amici del Teatro</h1>

{% endblock %}